h1 {
    font-family:'Dorsa';
    font-size: 10em;
    text-transform: uppercase;
    color: #1d2120;
}

header{
margin-bottom: 1em;

}

.navbar-inverse{
    background-color: #5a5c51;
}

p{
    font-family:'Merriweather';
}

h2 a{
    font-family: 'Merriweather';
    font-size:1em;
    text-transform:uppercase;
    color: #ba9077;
}

.btn{
    background-color: #bcd5d1;
    border-color: #bcd5d1;
}

a{
color: #5a5c51;
}

.carousel-caption h2{
font-family:'Dorsa';
    font-size:7em;
    text-transform:uppercase;
    color: white;

}

.well{
background-color:#bcd5d1;
border-radius: 0px;

}

h4 {
    font-family:'Dorsa';
    font-size:3em;
    letter-spacing: .125em;
    text-transform: uppercase;
    color: #1d2120;
}

.post h1{
    font-family: 'Merriweather';
    font-size:2.5em;
    text-transform:uppercase;
    color: #ba9077;
}

.container{
margin-right: auto;
margin-left: auto;
max-width: 1020px;
}

.navbar-brand img{
margin: .5em;
}
